.outer-rectangle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid #bbb6b6;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
}

.inner-rectangle {
    border: 1px solid #bbb6b6;
    padding: 10px;
    margin: 10px;
    width: 30%;
}

.text {
    font-size: 14px;
    line-height: 1.5;
}

.image-container {
    text-align: right;
    margin-bottom: 10px;
}

.credit-card-image {
    max-width: 100%;
    height: auto;
}

.textbox-row {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
}

.toolbar {
    margin-top: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    border-radius: 4px;
}

.btn-back {
    margin-right: 10px;
    color: #fff;
    background-color: #E5E5E5;
    width: 100px;
    color: #000;
}

.btn-next {
    width: 100px;
    margin-right: 10px;
    color: #fff;
    background-color: rgba(255, 122, 0, 1);

    &:hover {
        background-color: rgba(255, 122, 0, 0.8);
    }
}

.btn-sign {
    margin-right: 10px;
    color: #fff;
    background-color: rgb(128, 128, 128);
    width: 100px;

    &:hover {
        background-color: rgba(128, 128, 128, 0.8);
    }
}

.btn-send {
    width: 100px;
    color: #fff;
    background-color: rgb(128, 128, 128);

    &:hover {
        background-color: rgba(128, 128, 128, 0.8);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-shrink: 1;
    font-size: 18px;
}

.title {
    font-weight: 700;
    width: 18%;
    padding: 10px;
    text-align: end;
}

.value {
    width: 25%;
    padding: 10px;
}

.production_codes {
    display: flex;
    flex-direction: row;
}

.production_codes .code {
    max-width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.production_codes .quantity {
    margin-left: auto;
    margin-right: 120px;
}