.subtile{
    display: flex;
    flex-direction: row !important;
    margin-top: 15px;
}
.container {
    display: flex;
    align-items: center; 
}
.input {
    margin-left: 20px; 
    margin-top: 10px;
    display: flex;
    align-items: center;
}
input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

.checkBoxStyle{
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
}

.style-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.h6-time{
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin-left: 10px;
    margin-right: 10px;
}
