# dependencies
node_modules/*
# testing
/coverage

# production
build
build-gradle

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
.vscode
.gradle

.jmix

### IntelliJ IDEA ###
.idea/**
!.idea/encodings.xml
*.iws
*.iml
*.ipr
out/
logs/
bin/**
### VS Code ###
.vscode/
src/main/resources/application.properties
node_modules/**
