.dx-header-row {
    color: #000000;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* color:  #FFFFFF; */
    /* background-color: #1F6EE5; */
}

/* .dx-scrollbar-horizontal{
   overflow-x:auto;
} */
::ng-deep [aria-label="Lưu lại"].dx-state-hover,
::ng-deep [aria-label="Lưu lại"] {
    background-color: cyan;
}

::ng-deep [aria-label="Hủy bỏ"].dx-state-hover,
::ng-deep [aria-label="Hủy bỏ"] {
    background-color: pink;
}

.dx-header-filter {
    color: #6d6969 !important;
    font-size: 10px !important;
}

.dx-toolbar-label .dx-toolbar-item-content > div {
    overflow: inherit;
}

.dx-toolbar-label > div {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 -5px;
    padding: 0 5px;
}

@keyframes rainbowMarqueeAnimation {
    0% {
        transform: translateX(100%);
        background: linear-gradient(
            45deg,
            #ff5733,
            #ff7733,
            #ff9e33,
            #ffc633,
            #fff933,
            #cbff33,
            #a1ff33,
            #7cff33,
            #52ff33,
            #33ff5f,
            #33ff8a,
            #33ffb6,
            #33ffdb,
            #33ffff,
            #33dbff,
            #33b6ff,
            #338aff,
            #335fff,
            #5f33ff,
            #8a33ff,
            #b633ff,
            #db33ff,
            #ff33ff,
            #ff33db,
            #ff33b6,
            #ff338a,
            #ff335f
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: 200% auto;
    }
    100% {
        transform: translateX(-100%);
        background: linear-gradient(
            45deg,
            #ff5733,
            #ff7733,
            #ff9e33,
            #ffc633,
            #fff933,
            #cbff33,
            #a1ff33,
            #7cff33,
            #52ff33,
            #33ff5f,
            #33ff8a,
            #33ffb6,
            #33ffdb,
            #33ffff,
            #33dbff,
            #33b6ff,
            #338aff,
            #335fff,
            #5f33ff,
            #8a33ff,
            #b633ff,
            #db33ff,
            #ff33ff,
            #ff33db,
            #ff33b6,
            #ff338a,
            #ff335f
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-size: 200% auto;
    }
}
