.subtile{
    display: flex;
    flex-direction: row !important;
}
.container {
    display: flex;
    align-items: center; 
}
.checkbox{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.input {
    margin-left: 20px; 
    margin-top: 10px;
    display: flex;
    align-items: center;
}
input[type='checkbox'] {
    margin-left: 5px; 
    width: 15px;
    height: 15px;
}

.inputRow {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 168px;
 height: 33px;
 border-color: aliceblue;
}