.subtile {
    display: flex;
    flex-direction: row !important;
    margin-top: 15px;
}
.container {
    display: flex;
    align-items: center;
}
.input {
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkBoxStyle {
    font-weight: 500;
    margin-left: 10px;
    position: absolute;
}

.inputRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 168px;
    height: 33px;
    border-color: aliceblue;
}
