.ant-menu-root.ant-menu-inline, .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right {
  box-shadow: none;
  background-color: #BEBEBE;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ff794e;
  color: white;
}
.ant-menu-submenu-selected {
  color: #ff794e;
}