.custom-step {
  color: red; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px; 
  height: 24px; 
  border-radius: 50%; 
  background-color: lightgrey; 
  margin-right: 8px; 
}