.header-container {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.menu-left {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu-right {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
}

.button-none {
    background-color: transparent;
    color: var(--text-color);
    border-color: transparent;
}

.button-none:hover {
    background-color: transparent !important;
    color: var(--text-color) !important;
    border-color: transparent !important;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.font-size-16 {
    font-size: 16px;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;

    .user-avatar {
        width: 45px;
        height: 45px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
}

.user-container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;

    .user-hello {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }

    .user-username {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
    }
}

.language-select {
    background: transparent;
    color: var(--text-color);

    &:hover {
        border-color: var(--secondary-color);
    }
}

.language-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
        border-color: transparent;
    }

    .language-image {
        width: fit-content;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .language-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 8px;
    }
}

.badge {
    .bell[role="img"] {
        font-size: 20px;
    }
}

.shake {
 animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.mg-rignt-16 {
    margin-right: 16px;
}

.mg-left-8 {
    margin-left: 8px;
}