.loading-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-spin {
        font-size: 4rem;
        z-index: 101;
        color: var(--secondary-color);
    }
}