.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-cancel {
    margin-right: 20px;
    background-color: #E5E5E5;
    display: inline-block;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.btn-save {
    margin-right: 15px;
    background-color: #ff794e;
    color: var(--text-color);
    display: inline-block;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}