.dx-overlay-wrapper .dx-popup-content {
    max-height: none !important;
}

.text-content {
    white-space: pre-wrap;
}

#scrollview-demo {
    min-height: 550px;
}

#scrollview {
    height: auto;
    position: absolute;
    top: 0;
    bottom: 1px;
    padding: 20px;
}
