.modal-container :global(.ant-modal-close) {
    width: auto;
    height: auto;
    right: 20px;
    top: 12px;

    :global(.ant-modal-close-x) {
        color: var(--primary-color);
        font-size: 24px;
    }
}

.modal-container :global(.ant-modal-close):hover {
    background-color: transparent;
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px,
}

.btn-cancel {
    margin-right: 30px;
    background-color: #E5E5E5;
    display: inline-block;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    font-size: 16px
}

.btn-save {
    background-color: #ff794e;
    color: var(--text-color);
    display: inline-block;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    font-size: 16px
}