.priority {
    display: flex;
    align-items: center;
    justify-content: center;
}

.priority span {
    border: 1px solid black;
    padding: 4px 8px;
    display: block;
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 8px;
}

.priority.p1 span {
    color: #F11C1C;
    border-color: #F11C1C;
}