@keyframes ldio-iii820kizlm {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.wrapper_loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.loading {
    display: flex;
    width: 367px;
    height: 179px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 999999;
    border-radius: 10.7px;
}

.title_loading {
    font-size: 24px;
    font-family: inherit;
    position: absolute;
    transform: translate(-50%, 0px);
}


.ldio-iii820kizlm div {
    left: 85px;
    top: 30px;
    position: absolute;
    animation: ldio-iii820kizlm linear 1s infinite;
    background: #0a0a0a;
    width: 8px;
    height: 20px;
    border-radius: 4.8px / 4.8px;
    transform-origin: 5px 38px;
}

.ldio-iii820kizlm div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.875s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(2) {
    transform: rotate(45deg);
    animation-delay: -0.75s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(3) {
    transform: rotate(90deg);
    animation-delay: -0.625s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(4) {
    transform: rotate(135deg);
    animation-delay: -0.5s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(5) {
    transform: rotate(180deg);
    animation-delay: -0.375s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(6) {
    transform: rotate(225deg);
    animation-delay: -0.25s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(7) {
    transform: rotate(270deg);
    animation-delay: -0.125s;
    background: #0a0a0a;
}

.ldio-iii820kizlm div:nth-child(8) {
    transform: rotate(315deg);
    animation-delay: 0s;
    background: #0a0a0a;
}

.loadingio-spinner-spinner-vj1q9uaq4d {
    width: 180px;
    height: 180px;
    display: inline-block;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    text-align: center;
    overflow: hidden;
    background: transparent;
}

.ldio-iii820kizlm {
    width: 70%;
    height: 70%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-iii820kizlm div {
    box-sizing: content-box;
}