#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

.ant-menu-inline.ant-menu-root .ant-menu-item>.ant-menu-title-content,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title>.ant-menu-title-content {
    text-align: left;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    border-color: transparent;
    background-color: transparent;
    color: var(--text-color);
}

.ant-select-single.ant-select-open .ant-select-selection-item {
    color: var(--text-color);
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
    border-color: transparent;
    box-shadow: none;
}

.ant-select-single .ant-select-selector .ant-select-selection-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-select .ant-select-arrow {
    color: var(--text-color);
}

.ant-select-focused.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
    border-color: transparent;
    box-shadow: none;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item,
.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ant-breadcrumb li:last-child {
    color: var(--primary-color);
}

.none-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* reset css btn ant */
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    border-color: transparent;
    opacity: 0.6;
}

.ant-btn-default {
    border: none;
    box-shadow: none;
}

/* css antd + devextreme */

.main-layout {
    height: 100%;
}

.layout-container.ant-layout {
    min-height: initial;
}

.layout-sider {
    background: #ffffff;
}

.ant-modal-content .ant-modal-header {
    padding: 10px 20px 10px 20px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff3e8;
    border-bottom: 1px solid #f0f0f0;
    border-radius: 2px 2px 0 0;
}

.ant-modal .ant-modal-header {
    margin-bottom: 0;
}

.ant-modal .ant-modal-content {
    padding: 0 0 0 0;
}

.ant-modal .ant-modal-body {
    padding: 20px 20px 0 20px;
}

.ant-modal .ant-modal-footer {
    padding-bottom: 20px;
    padding-top: 8px;
    padding-right: 10px;
}

.layout-content {
    padding: 0px 24px 24px;
}

.ant-input-affix-wrapper {
    width: 250px !important;
    padding: 8px 12px !important;
}


.ant-table td,
.ant-table th {
    border: 1px solid #ddd !important;
}

table {
    table-layout: fixed !important;
}

.ant-tabs-content-holder {
    background: #ffffff !important;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px !important;
}

.ant-layout-sider {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important; */
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35) !important;
}

.narrow-layout {
    max-width: 1024px;
    margin: auto;
}

.narrow-layout.ant-card {
    max-width: 1024px;
    margin: auto;
}

.dx-tooltip-wrapper .dx-overlay-content .dx-popup-content {
    padding: 14px;
}

.showtime-preview>div:first-child {
    font-size: 12px;
    white-space: normal;
}

.showtime-preview>div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}

.movie-tooltip .movie-info {
    /*display: inline-block;*/
    margin-left: 20px;
    vertical-align: top;
    text-align: left;
}

.collapsed-icons {
    font-size: 16px;
    color: #fff !important;
    margin-left: 40px;
}

.dx-toolbar-item {
    vertical-align: top !important;
}

.dx-datagrid-search-panel {
    margin: 0 !important;
}

.table-responsive {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/* Box-shadow layout */

/* .box__shadow-table-responsive {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px !important;
    border-radius: 3px !important;
} */

.ant-layout-content {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px !important;
    border-radius: 5px !important;
}

.ant-table-wrapper .ant-table-thead>tr>th,
.ant-table-wrapper .ant-table-thead>tr>td {
    background-color: #FFE0C2;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:first-child {
    border-start-start-radius: unset;
}

.ant-table-wrapper .ant-table-container table>thead>tr:first-child>*:last-child {
    border-start-end-radius: unset;
}

::-webkit-scrollbar {
    /* width: 4px !important; */
}

::-webkit-scrollbar-track {
    /* background: #f1f1f1;  */
}

::-webkit-scrollbar-thumb {
    /* background: #c2c0c0;  */
}

::-webkit-scrollbar-thumb:hover {
    /* background: #ff7a00;  */
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-tail::after,
.ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-tail::after,
.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
    background-color: #1677ff;
    border: 2px solid #1677ff;
}

.movie-tooltip .movie-title {
    font-size: 1.5em;
    line-height: 40px;
}

.long-title h3 {
    font-family: "Segoe UI Light", "Helvetica Neue Light", "Segoe UI", "Helvetica Neue", "Trebuchet MS", Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.dx-progressbar-status {
    font-size: 14px !important;
}

.fileuploader-container {
    border: 1px solid #d3d3d3;
    margin: 20px 20px 0 20px;
}

.button-upload {
    margin-top: 50px;
    margin-right: 20px;
    float: right;
}

.note {
    font-size: 10pt;
    color: #484848;
    margin-left: 9px;
}

.note>span {
    font-weight: 700;
}

h3 {
    margin-left: 20px;
    font-weight: normal;
    font-size: 22px;
}

.master-detail-caption {
    padding: 0 0 5px 10px;
    font-size: 14px;
    font-weight: bold;
}

/*can chinh dong trong grid data*/
.dx-datagrid-header-panel {
    margin-bottom: 20px;
}

.dx-list-item-content>.dx-texteditor::after,
.dx-list-item-content.dx-texteditor::after,
.dx-toolbar-item-content>.dx-texteditor::after,
.dx-toolbar-item-content.dx-texteditor::after {
    position: absolute;
    top: -28px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);

}

.dx-list-item-content>.dx-texteditor:lang(vi)::after,
.dx-list-item-content.dx-texteditor:lang(vi)::after,
.dx-toolbar-item-content>.dx-texteditor:lang(vi):after,
.dx-toolbar-item-content.dx-texteditor:lang(vi):after {
    content: "Tìm kiếm chung";
}

.dx-list-item-content>.dx-texteditor:lang(en):after,
.dx-list-item-content.dx-texteditor:lang(en)::after,
.dx-toolbar-item-content>.dx-texteditor:lang(en)::after,
.dx-toolbar-item-content.dx-texteditor:lang(en)::after {
    content: "Common searching";
}

.dx-icon-close {
    color: #FF7A00 !important;
    font-size: 24px !important;
}

.dx-icon-clear {
    color: #FF7A00 !important;
    font-size: 20px !important;
}

/* .dx-toolbar-item-content{
    color: #FF7A00 !important;
    font-size: larger !important;
    font-weight: 400 !important;
} */

.dx-toolbar .dx-toolbar-after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dx-datagrid-content .dx-datagrid-table .dx-row>td,
.dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {
    vertical-align: inherit !important;
}

.dx-datagrid .dx-row:nth-child(odd) {
    background-color: #fff3e8;
}

.dx-datagrid .dx-row:nth-child(even) {
    background-color: #ffffff;
}

tbody[role="presentation"] .dx-row.dx-column-lines.dx-header-row {
    background-color: #FFE0C2;
}

.dx-datagrid .dx-row-alt>td,
.dx-datagrid .dx-row-alt>tr>td {
    background-color: var(--text-color);
}


.dx-datagrid .dx-header-row {
    font-weight: 500;
    color: black;
    background-color: #ffe0c2;
}

.dx-datagrid-rowsview .dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell {
    background: #ffffff !important;
}

.dx-datagrid .dx-header-filter {
    font-weight: bold !important;
    color: rgb(35, 34, 34) !important;
    font-size: 10px !important;
}

.dx-datagrid {
    margin-top: 30px;
}

.dx-icon-column-chooser {
    color: #ff7a00 !important;
}

.dx-datagrid-column-chooser-button {
    border-color: #ff7a00 !important;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused)>td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused)>tr>td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover>td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover>tr>td {
    background-color: #da5859 !important;
    color: #fff !important;
}

.dx-popup-title {
    color: #da5859 !important;
    font-size: 24px !important;
    font-weight: 500;
}

.dx-button[aria-label="Lưu lại"] {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Lưu lại"]:hover {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Đồng ý"] {
    background-color: #1f6ee5;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Đồng ý"]:hover {
    background-color: #1f6ee5;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Từ chối"] {
    background-color: #e51c0f;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Từ chối"]:hover {
    background-color: #e51c0f;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Xóa"] {
    background-color: #e51c0f;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Xóa"]:hover {
    background-color: #e51c0f;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Phê duyệt"] {
    background-color: #1f6ee5;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Phê duyệt"]:hover {
    background-color: #1f6ee5;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Gửi"] {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Gửi"]:hover {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Gửi đi"] {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Gửi đi"]:hover {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Hôm nay"] {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-button[aria-label="Hôm nay"]:hover {
    background-color: #06be18;
    border-color: transparent;
    color: #ffffff;
}

.dx-box-item-content {
    font-weight: 500;
}

.dx-icon-history {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMi4xIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNNzUgNzVMNDEgNDFDMjUuOSAyNS45IDAgMzYuNiAwIDU3LjlWMTY4YzAgMTMuMyAxMC43IDI0IDI0IDI0SDEzNC4xYzIxLjQgMCAzMi4xLTI1LjkgMTctNDFsLTMwLjgtMzAuOEMxNTUgODUuNSAyMDMgNjQgMjU2IDY0YzEwNiAwIDE5MiA4NiAxOTIgMTkycy04NiAxOTItMTkyIDE5MmMtNDAuOCAwLTc4LjYtMTIuNy0xMDkuNy0zNC40Yy0xNC41LTEwLjEtMzQuNC02LjYtNDQuNiA3LjlzLTYuNiAzNC40IDcuOSA0NC42QzE1MS4yIDQ5NSAyMDEuNyA1MTIgMjU2IDUxMmMxNDEuNCAwIDI1Ni0xMTQuNiAyNTYtMjU2UzM5Ny40IDAgMjU2IDBDMTg1LjMgMCAxMjEuMyAyOC43IDc1IDc1em0xODEgNTNjLTEzLjMgMC0yNCAxMC43LTI0IDI0VjI1NmMwIDYuNCAyLjUgMTIuNSA3IDE3bDcyIDcyYzkuNCA5LjQgMjQuNiA5LjQgMzMuOSAwczkuNC0yNC42IDAtMzMuOWwtNjUtNjVWMTUyYzAtMTMuMy0xMC43LTI0LTI0LTI0eiIvPjwvc3ZnPg==");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.dx-icon-csvfile {
    background-image: url("https://img.icons8.com/material/512/csv.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.dx-icon-jsonfile {
    background-image: url("https://icon-library.com/images/json-icon-png/json-icon-png-5.jpg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: contain;
}

.dx-toolbar-label .dx-toolbar-item-content>div {
    overflow: inherit;
}

.dx-toolbar-label>div {
    overflow: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 -5px;
    padding: 0 5px;
}

.ant-tabs-tabpane {
    flex: none;
    width: 100%;
    outline: none;
    background-color: #fff;
}

@media screen and (max-width: 600px) {
    .dx-popup-bottom.dx-toolbar {
        padding: 0 !important;
    }

    .dx-popup-content {
        padding: 0 !important;
    }

    .dx-popup-title.dx-toolbar {
        padding: 0 20px !important;
    }
}