html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fafafa;
}

.ant-menu-root.ant-menu-inline,
.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right {
    box-shadow: none;
    background-color: #bebebe;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #ff794e;
    color: white;
}

.ant-menu-submenu-selected {
    color: #ff794e;
}

.ant-menu-submenu.ant-menu-submenu-selected > .ant-menu-submenu-title[role="menuitem"]::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    height: 1px;
    width: 90%;
    /* or 100px */
    border-bottom: 2px solid #ff7a00;
}

.ant-menu-submenu.ant-menu-submenu-open.ant-menu-submenu-selected > .ant-menu-submenu-title[role="menuitem"]::after {
    display: none;
}

.ant-menu-submenu.ant-menu-submenu-open.ant-menu-submenu-selected .ant-menu-item.ant-menu-item-selected[role="menuitem"] {
    border-radius: 10px 0 0 10px;
    width: 88%;
    padding: 0;
    margin: auto;
}

.ant-menu-sub.ant-menu-inline {
    background-color: #bebebe;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
    color: white;
}

.ant-layout-sider {
    background-color: #bebebe;
}
