html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fafafa;
}

.ant-menu-root.ant-menu-inline, .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right {
  box-shadow: none;
  background-color: #BEBEBE;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #ff794e;
  color: white;
}
.ant-menu-submenu-selected {
  color: #ff794e;
}

.ant-menu-sub.ant-menu-inline {
  background-color: #BEBEBE;
}
.ant-menu-item-selected a, .ant-menu-item-selected a:hover{
  color: white;
}

.ant-layout-sider{
  background-color: #BEBEBE;
}