

.dx-button-content .dx-icon-export::before{  
    /* content: "\f11f"!important;   */
    content: unset;
}  
.dx-button-content .dx-icon-export{
    
    background-image: url("./images/ExportFile.svg");
  }
.dx-icon-spindown::before {

    content: unset;
  }

  .dx-toolbar-item .dx-toolbar-item-content{
    font-size: 16px;
    color: rgba(255, 122, 0, 1);
  }


  [title~="Export"] .dx-buttongroup-item-has-width {
    border: none
  }